<h4>User: <%= comment.user.email %> | Status: <%= comment.status %></h4>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if policy(comment).update? %>
  <p>
    <%= link_to "Delete Comment", [comment.article, comment], data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
    } %>
  </p>
<% end %>
